@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
    background-color: #f4efd3;
    
}

.navbar.responsive {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    display: flex;
    list-style: none;
    background-color: #db8709;
    color: #ffffff;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: "Merriweather", serif;
    color: #f7e99f;
    font-size: 36px;
}

.nav-list li a:hover {
    color: #ffffff;
}

header {
 text-align: center;
 color: #f4efd3;
 background-color: #db8709;
 font-size: 75px;
 font-family: "Macondo", sans-serif;
 position: sticky;
 z-index: 1000;
}


.gallery img {
    margin: 1%; 
}

h1 {
    color: #e0a721;
    
}
p {
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    text-align: center;
}

div.text-box {
    background-color: #f4efd3;
    color: #482b05; 
    padding-left: 20px;
    box-shadow: none;
    position: center;
    display: inline-block;
    font-size: 25px;
    text-decoration: "Merriweather", serif;
    

}

/*Recipe page styles*/

.recipe-list {
    color: #482b05;
}
 
.recipe-item {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
    text-decoration: "Merriweather", serif;
}
.recipe-item img {
    width: 100px; 
    height: auto; 
    margin-right: 15px; 

}

/*contact form*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
     
  }
  
  
  input[type=submit] {
    background-color: #db8709;
    color: #f7e99f;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #ffffff;
  }
  
  
  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/*footer style*/
footer {
    background-color: #db8709; 
    color: white;           
    text-align: center;     
    padding: 20px 0;       
    position: relative;    
    bottom: 0;             
    width: 100%;            
}
footer a {
    color: #f7e99f; 
    text-decoration: none; 
    text-decoration: "Merriweather", serif;
}
footer a:hover {
    text-decoration: underline; 
}